/* ----------------- Cuerpo ------------------- */

body {
	margin-top: 100px;
	background-color: #fcfcfc;
}

@media (max-width:991px){
	body{
		margin-top: 100px;
	}

}

@media (max-width:767px){
	body{
		margin-top: 100px;
	}

}

/*--------------------------------------------- */

/* -------------- Encabezado ------------------ */



/* ----------- Paneles y contenido ------------ */


h5,h4{
	font-weight: bolder;
}

.panel-opcionales{
	border-color: #c0c0c0;
	border-width: 3px;
	padding-left: 15px;
	padding-right: 10px;
}

.host{
	color: #DD0000;
	font-weight: bold;
}

.panel-opcionales .form-control:focus{
	border-color: blue;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,255,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,255,.6);
}

.panel-opcionales h5{
	display: inline;
}
.form-control{
	margin-bottom: 5px;
	display: inline;
	width: 30%;
	margin-right: 10px;
}

.contenedor-input{
	display: inline;
	margin-left:auto;
	margin-right:auto;
	width: 30%;
}
/*--------------------------------------------- */