<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="org.sat.login">

    <resources>
        <resource-root path="sat-login-module-1.0-SNAPSHOT.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.picketbox"/>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
